<m-container>
    <br><br>
    <div>My Location's Latitude: {{mylocation.lat}}</div>
    <div>My Location's Longitude: {{mylocation.lng}}</div>

    <google-map
        height="400px"
        width="100%"
        [center]="center"
        [zoom] = "zoom"
        (mapClick)="addMarker($event)">

        <map-marker
            *ngFor="let position of positions"
            #mymarker="mapMarker"
            [position]="position"
            (mapClick)="openInfoWindow(mymarker,position)"
        />

        
        <map-circle
            *ngFor="let position of positions"
            [center]="position"
            [radius]="80000"
        />   

        <map-info-window #infoWindow="mapInfoWindow">
            {{selected | json}}
        </map-info-window>       
    
    </google-map>
</m-container>