<m-container>
  <br /><br />
  <div>My Location's Latitude: {{ mylocation.lat }}</div>
  <div>My Location's Longitude: {{ mylocation.lng }}</div>
  <button (click)="closeAllWindows()">Close All</button>
  <button (click)="removeMarkers()">Remove Makers</button>
  <google-map
    height="400px"
    width="100%"
    [center]="center"
    [zoom]="zoom"
    (mapClick)="addMarker($event)"
  >
    <map-marker
      *ngFor="let position of positions; let i = index"
      [position]="position"
      #markerRef="mapMarker"
      (mapClick)="openInfoWindow(i, markerRef)"
    >
    </map-marker>

    <map-info-window *ngFor="let position of positions; let i = index">
      <div>
        <strong>Marker #{{ i }}</strong
        ><br />
        Latitude: {{ position.lat }}<br />
        Longitude: {{ position.lng }}
      </div>
    </map-info-window>

    <map-circle
      *ngFor="let circle of list"
      [center]="circle.position"
      [radius]="circle.radius"
    />
    <map-directions-renderer *ngIf="directionsResults$ | async as directionsResults" [directions]="directionsResults" />

  </google-map>
</m-container>
