<m-container class="map-wrapper">
  <br /><br />
  <div>My Location's Latitude: {{ currentlocation.lat }}</div>
  <div>My Location's Longitude: {{ currentlocation.lng }}</div>
  <button class="pure-button" (click)="centerToMyLocation()">Center</button>
  <button class="pure-button" (click)="closeAllWindows()">Close All</button>
  <button class="pure-button" (click)="clearMap()">Clear Map</button>
 
  <button class="pure-button" (click)="acquireRemotePositionalData(1)">Trigger Usecase 1</button>
  <button class="pure-button" (click)="acquireRemotePositionalData(2)">Trigger Usecase 2</button>
  <button class="pure-button" (click)="acquireRemotePositionalData(3)">Trigger Usecase 3</button>
  <button class="pure-button" (click)="acquireRemotePositionalData(4)">Trigger Usecase 4</button>

  <google-map
    height="400px"
    width="100%"
    [center]="mapcenter"
    [zoom]="zoom"
    (mapClick)="addMarker($event)"
  >
    <map-marker
      *ngFor="let informedMarker of informedMarkersList; let i = index"
      [position]="informedMarker.position"
      #markerRef="mapMarker"
      (mapClick)="openInfoWindow(i, markerRef)"
    >
    </map-marker>
    <map-info-window *ngFor="let informedMarker of informedMarkersList; let i = index">
      <div *ngIf="informedMarker.title === ''">
        <form class="pure-form">
          <input name="title" id="title" [(ngModel)]="title" placeholder="title"/>
          <input name="subtitle" id="subtitle" [(ngModel)]="subtitle" placeholder="subtitle"/>
          <input name="info" id="info" [(ngModel)]="info" placeholder="info"/><br>
          <button style="width:100%" (click)="saveMarker(informedMarker)"> Update Marker </button>
        </form>
        </div>
      <div *ngIf="informedMarker.title != ''">
        <h2>{{informedMarker.title}}</h2>
        <h3>{{informedMarker.subtitle}}</h3>
        {{informedMarker.info}}<br>
        <button style="width:100%" (click)="removeMarker(informedMarker)"> Remove Marker </button>
      </div>
      <div>
        Latitude: {{ informedMarker.position.lat }}<br />
        Longitude: {{ informedMarker.position.lng }}
      </div>
    </map-info-window>


    <map-circle
      *ngFor="let circle of circlesList"
      [center]="circle.position"
      [radius]="circle.radius"
      (circleClick)="circleClicked(circle)"
    />
    <map-directions-renderer *ngIf="directionsResults$ | async as directionsResults" [directions]="directionsResults" />

  </google-map>
</m-container>
