<m-container>
    <br><br>
    <div>Location's Latitude: {{currentlocation?.lat}}</div>
    <div>Location's Longitude: {{currentlocation?.lng}}</div>
    <div>Click's Latitude: {{clicklocation?.lat}}</div>
    <div>Click's Longitude: {{clicklocation?.lng}}</div>
    <button class="pure-button" (click)="removeMarkers()"> Clear </button>
    <google-map
        height="400px"
        width="100%"
        [center]="mapcenter"
        [zoom]="zoom"
        (mapClick)="addMarker($event)"
    >
        <map-marker
            #markerRef = "mapMarker"  
            *ngFor="let informedMarker of informedMakerlist; let i = index"
            [position]="informedMarker.position"
            (mapClick)="openInfoMarker(i,markerRef)"
    
        >
        <map-info-window *ngFor="let informedMarker of informedMakerlist">
             <p>{{informedMarker.title}}</p>
             <p>{{informedMarker.subtitle}}</p>
             <p>{{informedMarker.info}}</p>
             <p>{{informedMarker.position.lat}}, {{informedMarker.position.lng}}</p>
             <button (click)="removeMarker(informedMarker)">X</button>
        </map-info-window>
            
        </map-marker>

    </google-map>
</m-container>