<m-container>
    <br><br>
    <form class="pure-form">
        <fieldset>
            <label for="city">Look Up City</label><br>
            <input type="text" name="city" id="city" [(ngModel)]="city" required>
        </fieldset>
        <button class="pure-button" (click)="findQibla()">Find Qibla</button>
        <button class="pure-button" (click)="enableSensors()">Enable Motion & Orientation</button>

    </form>

    <m-result-box *ngIf="angle" [label]="'Location'" class="'normal'">
        {{lat || "N/A"}}, {{lng || "N/A"}} <br> 
        Qibla Angle: {{angle | number:'1.1-1'}}
    </m-result-box>

    <div *ngIf="orientation">
        <p>Alpha: {{ orientation.alpha | number:'1.0-2' }}</p>
        <p>Beta: {{ orientation.beta | number:'1.0-2' }}</p>
        <p>Gamma: {{ orientation.gamma | number:'1.0-2' }}</p>
      </div>
  
      <div *ngIf="motion">
        <p>Accel X: {{ motion.acceleration?.x | number:'1.0-2' }}</p>
        <p>Accel Y: {{ motion.acceleration?.y | number:'1.0-2' }}</p>
        <p>Accel Z: {{ motion.acceleration?.z | number:'1.0-2' }}</p>
      </div>

    <m-compass *ngIf="orientation" [angle]="orientation.alpha" [size]="'100%'" [centered]="true"></m-compass>

</m-container>
