<table class="pure-table">
  <caption *ngIf="showCaption"> {{ caption }} </caption>
  <thead class="pure-table-head">
    <tr>
      <ng-container *ngIf="tableHeaders.length > 0; else defaultHeaders">
        <th *ngFor="let header of tableHeaders">{{ header }}</th>
      </ng-container>

      <ng-template #defaultHeaders>
        <th *ngFor="let key of getObjectKeys(data[0])"> {{key}} </th>
      </ng-template>
      <th *ngIf="showDeleteButton || showMoreDetails">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data">
      <ng-container *ngFor="let key of getObjectKeys(item)">
        <td>{{ item[key] }}</td>
      </ng-container>
      <td class="action-button-col">
        <m-delete-button
          *ngIf="showDeleteButton"
          (onClick)="removeItem(item.id)"
        ></m-delete-button>
        <button
          *ngIf="showMoreDetails"
          (click)="showDetails(item.id)"
          class="button">
          <span>&#8658;</span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
