
<section>
    <div class="container" id="container" [class.right-panel-active]="rightPanelActive">
        <div class="form-container sign-up-container">
            <form>
                <h1>Sign Up</h1>
                <br>
                <label>
                    <input type="text" placeholder="Name"/>
                </label>
                <label>
                    <input type="email" placeholder="Email"/>
                </label>
                <label>
                    <input type="password" placeholder="Password"/>
                </label>
                <button id="signUp" (click)="activateRightPanel()">Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form>
                <h1>Sign in</h1>
                <br>
                <label>
                    <input type="email" placeholder="Email"/>
                </label>
                <label>
                    <input type="password" placeholder="Password"/>
                </label>
                <!-- <a href="#">Forgot your password?</a> -->
                <button id="signIn" (click)="deactivateRightPanel()">Sign In</button>

            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1 class="create">Log in</h1>
                    <p>Sign in here if you already have an account </p>
                    <button id="signIn" class="ghost"(click)="deactivateRightPanel()">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1 class="create">Create, Account!</h1>
                    <p>Sign up if you still don't have an account ... </p>
                    <button id="signUp" class="ghost"(click)="activateRightPanel()">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</section>