.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 15%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    /* background: white; */
    /* background: #feeafa6d; */
    
}